
#banner {
	width:1350px;
	height:70px;
	float:left;	
	padding-top:0px;
	margin-top:0px;
	border:1px solid #ddd;
	background-color:#eeeeee;
	float:left;
}	

#baski{
	width:50px;
	height:50px;	
	margin-top:10px;
	margin-bottom:10px;	
	padding: 50px;
	text-align:center-left
}
#saat{
	width:50px;
	height:50px;
	border-bottom: 50px;
	float:left;
	padding: 50px;
}
#hashtag{
	width:50px;
	height:50px;
	border-bottom: 50px;
	float:left;
	padding: 50px;
}
#insan{
	width:50px;
	height:50px;
	border-bottom: 50px;
	float:left;
	padding: 50px;
}
#humans {
	width:50px;
	height:50px;
	border-bottom: 50px;
	float:left;
	padding: 50px;
	margin-left:auto;
	    margin-right:auto;
}
#arkaplan{
	width:1350px;
	height:500px;
	float:left;
}
#altyazi{
	width:1350px;
	height:500px;
	background-color:#3aa993;
	float:left;
	text-align: center
	
}
#1{
	padding-right:20px;
	padding-bottom:39px;
	float:left;
}	

#2{
	padding-right:20px;
}	

#resim{
	width:1350px;
	height:400px;
	background-color:#d12743;
	float:left;
	text-align: center;
}
#foto{
	width:1000px;
	height:250px;
	text-align: center; 
    padding: 50px;
	float:left;
	margin-left:100px;

}

#son{
	width:1350px;
	height:50px;
	background-color:#eeeeee;
	float:left;
}
#logoo{
	width:5px;
	height:20px;
	float:right;
	padding-right:20px;
}
#f{
	width:20px;
	height:20px;
	float:right;
	padding-right:20px;
}	
#i{
	width:20px;
	height:20px;
	float:right;
	padding-right:20px;
}	
#g{
	width:20px;
	height:20px;
	float:right;
	padding-right:20px;
}	
#t{
	width:20px;
	height:20px;
	float:right;
	padding-right:20px;
	
}	
#telif_yazi{
	
	font-family:Franklin Gothic Book;
	font-size:14px;
	color:#414445;
	padding-left:0px;
	}